@import '../../theme/variables';

.PrivateDoor{
  .container{
    color:white;

    .stepsContent {
      margin-top: 16px;
      border-radius: 6px;
      min-height: 200px;
    }

    .stepsAction {
      margin-top: 24px;
    }
  }
}
