@import '../../theme/variables';

.Navigator {
  position: absolute; width: 100%; height: 100%;

  .Row{
    height: 50%;

    .bridge{
      .home, .lee, .key, .access {
        position: fixed; width: 130px; height: 130px;
        color: $color-primary-2; text-align:center; font-size: 25px;
        font-weight: 100; padding-top: 78px; z-index: 500;
      }

      .home{
        float:left; top:0; left:0; padding: 0; text-align: left;

        .logo{
          position: absolute; width: 100%;height: 100%;background:url('#{$assetpath}/logo.svg') no-repeat;background-position: 38px 13px; background-size: 75%;
        }
      }

      .lee{
        float:right; top:0; right:0; color: $color-secondary-2;

        .word{ 
          position: absolute;width: 50%;height: 50px;top:18px;right:16px;font-size: 27px; font-weight: 300; letter-spacing: 0;
          a{color: $color-secondary-2;} 
        }

        .underLine{
          display: inherit;width: 40px;height: 2.5px;margin:-4px auto 0 auto;background-color: $color-primary-2;
        }
      }

      .key{
        float:left; bottom:0; left:0; padding-right:27px;
      }

      .access{
        float:right; bottom:0;right:0;
      }

    }
  }
}
